<template>
  <div class="container">
    <div class="sublayer"></div>
    <div class="main-layer">
      <div class="row" v-for="stat in stats">
        <div class="row__name">{{stat.name}}</div>
        <div class="row__value">{{stat.animationValue}}</div>
      </div>
      <div class="mark">
        <div class="mark__letter">S</div>
        <div class="mark__text">Awesome!</div>
      </div>
      <div class="next">
        <button @click="next">next</button>
      </div>
    </div>
    <button @click="start">go</button>
  </div>
</template>

<style>
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}
button {
  padding: 20px 40px;
}
.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sublayer {
  background: #eee;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
}
.main-layer {
  background: midnightblue;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  transform: rotateX(90deg);
  padding: 40px;
}
.row {
  background: #3f3f7f;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  color: #fff;
}
.mark {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  text-align: center;
  color: goldenrod;
  opacity: 0;
}
.mark__letter {
  font-size: 75px;
  margin-bottom: -30px;
  opacity: 0.5;
  font-weight: 600;
}
.mark__text {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}
.next {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0;
}
</style>

<script>
import anime from 'animejs';

export default {
  data() {
    return {
      stats: [
        {
          name: 'Целостность груза (повреждений меньше 50%)',
          value: 5,
          animationValue: 0
        },
        {
          name: 'Не менее 5 грузов',
          value: 100,
          animationValue: 0
        }
      ]
    }
  },
  methods: {
    async start() {
      const mainWindowAnimation = anime.timeline();
      mainWindowAnimation.add({
        targets: '.sublayer',
        scale: [0, 1]
      });
      mainWindowAnimation.add({
        targets: '.main-layer',
        rotateX: [90, 0],
        rotateY: [-90, 0]
        // perspective: [400, 'none']
      });
      mainWindowAnimation.add({
        targets: '.row',
        translateY: [20, 0],
        opacity: [0, 1],
        delay: anime.stagger(100)
      });
      await mainWindowAnimation.finished;
      const valueAnimation = anime.timeline();
      this.stats.forEach((stat, index) => {
        const statState = {
          value: 0
        };
        valueAnimation.add({
          targets: statState,
          value: stat.value,
          round: 1,
          update: () => {
            this.stats[index].animationValue = statState.value;
          }
        });
      });
      await valueAnimation.finished;

      const markNButtonAnimation = anime.timeline();
      markNButtonAnimation.add({
        targets: '.mark',
        opacity: [0, 1],
        scale: [0, 1]
      });
      markNButtonAnimation.add({
        targets: '.next',
        opacity: [0, 1],
        scale: [0, 1]
      })
    },
    next() {
      alert('That\'s it!');
    }
  }
}
</script>
